Question 1

In [3]:
import pandas as pd


data = {
    'id': [1, 2, 3, 4],
    'recordDate': ['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04'],
    'temperature': [10, 25, 20, 30]
}

df = pd.DataFrame(data)


df['recordDate'] = pd.to_datetime(df['recordDate'])


df['prev_temp'] = df['temperature'].shift(1)
result = df[df['temperature'] > df['prev_temp']]


print(result[['id']])

   id
1   2
3   4

Q2. SQL Command

In [9]:

import sqlite3


conn = sqlite3.connect(':memory:')
cur = conn.cursor()


cur.execute('''
CREATE TABLE Weather (
    id INT PRIMARY KEY,
    recordDate DATE,
    temperature INT
);
''')


cur.execute('INSERT INTO Weather (id, recordDate, temperature) VALUES (1, "2015-01-01", 10)')
cur.execute('INSERT INTO Weather (id, recordDate, temperature) VALUES (2, "2015-01-02", 25)')
cur.execute('INSERT INTO Weather (id, recordDate, temperature) VALUES (3, "2015-01-03", 20)')
cur.execute('INSERT INTO Weather (id, recordDate, temperature) VALUES (4, "2015-01-04", 30)')
conn.commit()


cur.execute('''
SELECT w1.id
FROM Weather w1
JOIN Weather w2 ON w1.recordDate = DATE(w2.recordDate, '+1 day')
WHERE w1.temperature > w2.temperature;
''')


result = cur.fetchall()
print("IDs with higher temperatures than the previous day:")
for row in result:
    print(row[0])


conn.close()

IDs with higher temperatures than the previous day:
2
4